{% extends 'base.html.twig' %}

{% block title 'Update Profile' %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 class="text-center my-5">Update Profile</h1>
        {{ form_start(form) }}
        {{ form_row(form.firstname)}}
        {{ form_row(form.lastname)}}
        {{ form_row(form.email)}}
        <button type="submit" class="btn btn-primary">Apply changes </button>
        {{ form_end(form) }}
        
    </div>
</div>
{% endblock %}
